*{
    padding: 0;
    margin: 0;
}
.main-menu{
    max-width: 1200px;
    margin: auto;
    background: #f7f7f7;
}
.menu{
    background: green;
}

.menu ul{
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
}
.menu ul li{
    flex-grow: 1;
    
}
.menu ul li a{
    display: block;
    padding: 10px 40px;
    color: white;
    border: 1px solid #ddd;
}
.row-2{
    display: flex;
    flex: 1;
}
.item{
    border: 1px solid red;
}
.row-3{
    display: flex;
    margin-top: 30px;
}
.item-2{
    border: 1px solid royalblue;
    flex-basis: 30%;
}
.big{
    flex-basis: 70%;
}
.row-4{
    display: flex;
}
.row-4-item{
    border: 1px solid rosybrown;
    flex: 1 0 0%;
}
.row-4-big{
    flex-grow: 3;
}
.center-center{
    width: 600px;
    height: 600px;
    border: 2px solid rgb(51, 255, 0);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.col-center{
   background:red;
    width: 200px;
    height: 200px;
    text-align: center;
   color: aquamarine;
}